<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
    	body {
    		background-image: url("https://cdn.worldvectorlogo.com/logos/wonder-woman.svg");
    	}
    </style>
  </head>

  <body>
  	<div class='mod'>
  	<h1>Mod 2 Code Challenge</h1>
  </div>
    <%= yield %>
  </body>
</html>
